<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" th:href="@{/css/main.css}" href="/css/main.css">
    <link href="https://fonts.googleapis.com/css?family=Caveat" rel="stylesheet">
    <title>メイン画面</title>
</head>
<body>
    <div class="one">
        <table border="1" style="border-collapse: collapse; border-color: black">
            <tr>
                <th>ID</th>
                <th>商品名</th>
                <th>値段</th>
            </tr>
            <tr th:if ="${ordersEntity}" th:object="${orders}" th:each="orders : ${ordersEntity}">
                <td>[[*{id}]]</td>
                <td>[[*{product_name}]]</td>
                <td>[[*{price}]]</td>
                <td><a th:href="@{/edit(productId = *{id})}" ><button>詳細</button></a></td>
            </tr>
        </table>   
    </div>
</body>
</html>